<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-lg fa-bookmark text-primary"></i> Bookmarks
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item list-group-item-action"><a
				href="/console/viewdocument?documentid=41&amp;revisionid=1.0"
				title="View Document">
					<h5 class="text-primary">
						testbookmark <small>Document ID : 41 , Revision ID : 1.0</small>
					</h5>
			</a> <a href="/console/viewdocument?documentid=41&amp;revisionid=1.0"
				title="View Document">View Document</a> | <a
				href="/console/deletebookmark?bookmarkid=1&amp;_CSRF_=AQPWACMZNRXVHNBC2A7XZ3DG59AJUIOZB6GOUJRZ5CXDPIKM0R1VYMAPSPKB9JCQ"
				class="confirm"
				confirmationmessage="Are you sure you want to delete testbookmark ?"
				title="Delete">Delete</a></li>
		</ul>
	</div>
</body>
</html>