<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-header">
			<i class="fa fa-lg fa-bookmark text-primary"></i> Bookmarks
		</div>
		<ul class="list-group list-group-flush" ng-repeat="x in records">
			<li class="list-group-item list-group-item-action"><a
				title="View Document">
					<h5 class="text-primary">
						{{x.bookName}} <small>Classification :
							{{x.classification}} , User : {{x.userName}}</small>
					</h5>
			</a>
				<button title="View Document">View Document</button> |
				<button class="confirm"
					confirmationmessage="Are you sure you want to delete testbookmark ?"
					title="Delete">Delete</button></li>
		</ul>
	</div>
</body>
</html>