<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form name="createClassForm">
		<div class="row" id="createClassPage" style="height: 593px;">
			<div
				class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
				<div>
					<h3 class="font-style">CREATE CLASSIFICATION</h3>
					<fieldset>
						<h4 class="font-style">Enter Classification Name:</h4>
						<md-input-container class="md-block" flex-gt-sm>
						<label class="font-style">Classification</label> <input
							ng-disabled="classfound" name="classificationName"
							ng-model="classificationName" maxlength="20"
							ng-pattern="/^[-\w\s]+$/" required> </md-input-container>
						<span style="color: red" class="font-style"
							ng-if="createClassForm.classificationName.$dirty && createClassForm.classificationName.$invalid">
							<span ng-if="createClassForm.classificationName.$error">Maximum
								20 alphanumeric characters allowed with whitespace,'_','-'.</span>
						</span>
						<div class="f1-buttons">
							<button type="button" class="btn btn-next font-style"
								ng-click="onCreateClassification()"
								ng-disabled="createClassForm.$invalid">Submit</button>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="minmaxCon" ng-if="minimizeModal"
				style="background-color: gainsboro; width: 15%;">
				Search Results
				<button type="button" class="close" ng-click="closePopup()">
					<i class="fa fa-times"></i>
				</button>
				<button class="close modalMinimize" ng-click="maximizemodal()">
					<i class="fa fa-clone"></i>
				</button>
			</div>
		</div>
		<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
	</form>
</body>


</html>