<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="row" id="createBookPage">
		<div
			class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
			<form class="f1" name="createBookForm" novalidate>

				<h3>Create your Book</h3>
				<div class="f1-steps">
					<div class="f1-progress">
						<div class="f1-progress-line" data-now-value="16.66"
							data-number-of-steps="3" style="width: 16.66%;"></div>
					</div>
					<div class="f1-step active">
						<div class="f1-step-icon">
							<i class="fa fa-book" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 39%">book</p>
					</div>
					<div class="f1-step">
						<div class="f1-step-icon">
							<i class="fa fa-file-text" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 31%">classification</p>
					</div>
					<div class="f1-step">
						<div class="f1-step-icon">
							<i class="fa fa-cloud-upload" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 36%">upload</p>
					</div>
				</div>

				<fieldset id="firstFieldset" style="display: block;">
					<h4>Enter book name:</h4>
					<md-input-container class="md-block" flex-gt-sm>
					<label>Book Name</label> <input ng-model="bookName"
						data-ng-pattern="/^\S*$/" maxlength="20"
						ng-pattern-restrict="^$|^[A-Za-z0-9]+$" required> </md-input-container>
					<div class="f1-buttons">
						<button type="button" class="btn btn-next"
							ng-disabled="createBookForm.bookName.$invalid && !createBookForm.bookName.$pristine">Next</button>
					</div>
				</fieldset>

				<fieldset>
					<h4>Select Document Classification:</h4>
					<div class="form-group col-sm-12">
						<md-input-container> <md-select
							ng-model="classificationName" placeholder="Classification List"
							md-no-asterisk="false"> <md-option
							ng-repeat="classname in classlist"
							ng-selected="classname.selected" ng-value="classname.name"
							ng-disabled="classfound" required> {{classname.name}}
						</md-option> </md-select> </md-input-container>
					</div>
					<div class="f1-buttons">
						<button type="button" class="btn btn-previous">Previous</button>
						<button type="button" class="btn btn-next"
							ng-disabled="createBookForm.classificationName.$invalid && !createBookForm.classificationName.$pristine">Next</button>
					</div>
				</fieldset>

				<fieldset>
					<h4>Upload Files:</h4>
					<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
						ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
						ngf-drag-over-class="'dragover'">
						<div class="sm-hidden">
							<h3>Drag files here</h3>
							<h3>or</h3>
						</div>
						<p>
							<span class="btn btn-primary">Select files from your
								computer</span>
						</p>
						<p ngf-no-file-drop>File Drag/Drop is not supported for this
							browser</p>
						<p>
							<small>Accepts files up to 5MB each</small>
						</p>

					</div>
					<div ng-if="progressvisible">
						<div class="progress" style="background-color: blue;">
							<div class="progress-bar" role="progressbar"
								aria-valuenow="{{progress}}" aria-valuemin="0"
								aria-valuemax="100" style="width: {{progress">
								{{progress}}</div>
						</div>
						<hr>
						<div class="col-md-12" style="padding-top: 10px;">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>File Name</th>
										<th>File Type</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in fileList">

										<td>{{file.name}}</td>
										<td>{{file.type}}</td>
										<td class="glyphicon glyphicon-trash file-delete"
											ng-click="deleteFile($index, file.name, $event);"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="f1-buttons">
						<button type="button" class="btn btn-previous">Previous</button>
						<button type="submit" class="btn btn-submit"
							ng-click="onSubmitClick()">Submit</button>
					</div>
				</fieldset>

			</form>
		</div>
	</div>
	<div class="row col-sm-12"
		style="background-color: steelblue; bottom: 0; position: fixed; width: 103%;"
		id="pageFooter">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new" class="text-white">©
				Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
</body>
</html>