<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="f1" name="createBookForm" novalidate>
		<div class="row" style="height: {{ hgt }}px">
			<div
				class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

				<h3 class="font-style">Create your Book</h3>
				<div class="f1-steps">
					<div class="f1-progress">
						<div class="f1-progress-line" data-now-value="16.66"
							data-number-of-steps="3" style="width: 16.66%;"></div>
					</div>
					<div class="f1-step active">
						<div class="f1-step-icon">
							<i class="fa fa-book" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 39%" class="font-style">book</p>
					</div>
					<div class="f1-step">
						<div class="f1-step-icon">
							<i class="fa fa-file-text" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 31%" class="font-style">classification</p>
					</div>
					<div class="f1-step">
						<div class="f1-step-icon">
							<i class="fa fa-upload" style="margin-left: 32%"></i>
						</div>
						<p style="margin-left: 36%" class="font-style">upload</p>
					</div>
				</div>

				<fieldset id="firstFieldset" style="display: block;">
					<h4 class="font-style">Enter book name:</h4>
					<md-input-container class="md-block" flex-gt-sm>
					<label class="font-style">Book Name</label> <input
						ng-model="bookName" name="bookName" maxlength="20"
						ng-pattern="/^[-\w\s]+$/" required> </md-input-container>
					<span style="color: red" class="font-style"
						ng-if="createBookForm.bookName.$dirty && createBookForm.bookName.$invalid">
						<span ng-if="createBookForm.bookName.$error">Maximum 20
							alphanumeric characters allowed with whitespace,'_','-'.</span>
					</span>
					<div class="f1-buttons">
						<button type="button" class="btn btn-next font-style"
							ng-disabled="createBookForm.bookName.$invalid">Next</button>
					</div>
				</fieldset>

				<fieldset>
					<h4 class="font-style">Select Document Classification:</h4>
					<div class="form-group col-sm-12">
						<md-input-container> <md-select
							name="classificationName" ng-model="classificationName"
							placeholder="Classification List" md-no-asterisk="false" required>
						<md-option ng-repeat="classname in classlist"
							ng-selected="classname.selected" ng-value="classname.name"
							ng-disabled="classfound" required class="font-style">
						{{classname.name}} </md-option> </md-select> </md-input-container>
					</div>
					<div class="f1-buttons">
						<button type="button" class="btn btn-previous font-style">Previous</button>
						<button type="button" class="btn btn-next font-style"
							ng-disabled="createBookForm.classificationName.$invalid">Next</button>
					</div>
				</fieldset>

				<fieldset>
					<h4 class="font-style">Upload Files:</h4>
					<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
						ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
						ngf-drag-over-class="'dragover'">
						<div class="sm-hidden">
							<h3 class="font-style">Drag files here</h3>
							<h3 class="font-style">or</h3>
						</div>
						<p>
							<span class="btn btn-primary font-style">Select files from
								your computer</span>
						</p>
						<p ngf-no-file-drop class="font-style">File Drag/Drop is not
							supported for this browser</p>
						<p class="font-style">
							<small>Accepts files up to 5MB each</small>
						</p>

					</div>
					<div ng-if="progressvisible">
						<div class="progress" style="background-color: blue;">
							<div class="progress-bar font-style" role="progressbar"
								aria-valuenow="{{progress}}" aria-valuemin="0"
								aria-valuemax="100" style="width: {{progress">
								{{progress}}</div>
						</div>
						<hr>
						<div class="col-md-12"
							style="padding-top: 10px; overflow-y: auto; height: 100px;">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="font-style">File Name</th>
										<th class="font-style">File Type</th>
										<th class="font-style">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in fileList">

										<td class="font-style">{{file.fileName}}</td>
										<td class="font-style">{{file.type}}</td>
										<td class="glyphicon glyphicon-trash file-delete"
											ng-click="deleteFile($index, file.fileName, $event);"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="f1-buttons">
						<button type="button" class="btn btn-previous font-style">Previous</button>
						<button type="submit" class="btn btn-submit font-style"
							ng-click="onSubmitClick()">Submit</button>
					</div>
				</fieldset>

			</div>
			<div class="minmaxCon" ng-if="minimizeModal"
				style="background-color: gainsboro; width: 15%;">
				Search Results
				<button type="button" class="close" ng-click="closePopup()">
					<i class="fa fa-times"></i>
				</button>
				<button class="close modalMinimize" ng-click="maximizemodal()">
					<i class="fa fa-clone"></i>
				</button>
			</div>
		</div>
		<div class="row col-sm-12"
			style="background-color: blueviolet; bottom: 0; position: fixed; width: 103%;"
			id="pageFooter">
			<div class="col-sm-3">
				<a href="http://tranfode.com/" target="_new"><img
					src="images/tranfode.png"></a>
			</div>
			<div class="col-sm-9"
				style="text-align: right !important; margin-top: 2%;">
				<a href="http://tranfode.com/" target="_new"
					class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
			</div>
		</div>
	</form>
</body>
</html>