<div>
	<!-- <a ng-click="openModal()" class="float1"> <i
		class="fa fa-plus my-float"></i>
	</a> -->
	<div ng-if="noBookPresent" class="bookshelf"></div>
	<div class="minmaxCon" ng-if="minimizeModal"
		style="background-color: gainsboro; width: 15%;">
		Search Results
		<button type="button" class="close" ng-click="closePopup()">
			<i class="fa fa-times"></i>
		</button>
		<button class="close modalMinimize" ng-click="maximizemodal()">
			<i class="fa fa-clone"></i>
		</button>
	</div>
</div>
<div class="row col-sm-12"
	style="background-color: blueviolet; bottom: 0;" id="pageFooter">
	<div class="col-sm-3">
		<a href="http://tranfode.com/" target="_new"><img
			src="images/tranfode.png"></a>
	</div>
	<div class="col-sm-9"
		style="text-align: right !important; margin-top: 2%;">
		<a href="http://tranfode.com/" target="_new"
			class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title font-style" id="myModalLabel">Choose
					Option</h4>
			</div>
			<div class="modal-body">
				<p ng-if="errorCase" style="color: red;">Please select an option</p>
				<label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="landing">
					BookView
				</label> <label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio2" value="bookmark">
					Add Favourite
				</label> <label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio3" value="delete">
					Delete
				</label>
				<!-- <label class="radio-inline"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="add">
					Add Files
				</label> -->
				<label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="download">
					Download
				</label>
				<div ng-if="addFiles">
					<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
						ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
						ngf-drag-over-class="'dragover'">
						<div class="sm-hidden">
							<h3 class="font-style">Drag files here</h3>
							<h3 class="font-style">or</h3>
						</div>
						<p>
							<span class="btn btn-primary font-style">Select files from
								your computer</span>
						</p>
						<p ngf-no-file-drop class="font-style">File Drag/Drop is not
							supported for this browser</p>
						<p class="font-style">
							<small>Accepts files up to 5MB each</small>
						</p>

					</div>
					<div ng-if="progressvisible">
						<div class="progress" style="background-color: blue;">
							<div class="progress-bar font-style" role="progressbar"
								aria-valuenow="{{progress}}" aria-valuemin="0"
								aria-valuemax="100" style="width: {{progress">{{progress}}</div>
						</div>
						<hr>
						<div class="col-md-12" style="padding-top: 10px;">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="font-style">File Name</th>
										<th class="font-style">File Type</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in fileList">

										<td class="font-style">{{file.name}}</td>
										<td class="font-style">{{file.type}}</td>
										<td class="glyphicon glyphicon-trash file-delete"
											ng-click="deleteFile($index, file.name, $event);"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<md-button class="md-raised md-primary md-hue-2 font-style"
					style="margin: 20px 0;" aria-hidden="true"
					ng-click="onOptionClick()">{{'SUBMIT' | translate}}</md-button>
				<md-button style="margin: 20px 0; "
					class="md-warn md-raised md-hue-2 font-style" data-dismiss="modal"
					aria-hidden="true">{{'CANCEL' | translate}}</md-button>
			</div>
		</div>
	</div>
</div>
