<div>
	<div ng-if="noBookPresent" class="bookshelf"></div>
	<div class="minmaxCon" ng-if="minimizeModal"
		style="background-color: gainsboro; width: 15%;">
		Search Results
		<button type="button" class="close" ng-click="closePopup()">
			<i class="fa fa-times"></i>
		</button>
		<button class="close modalMinimize" ng-click="maximizemodal()">
			<i class="fa fa-clone"></i>
		</button>
	</div>
</div>
<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title font-style" id="myModalLabel">Choose
					Option</h4>
			</div>
			<div class="modal-body">
				<p ng-if="errorCase" style="color: red;">Please select an option</p>
				<label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="landing">
					BookView
				</label> <label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio2" value="bookmark">
					Add Favourite
				</label> <label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio3" value="delete">
					Delete
				</label> <label class="radio-inline"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="add">
					Add Files
				</label> <label class="radio-inline font-style"> <input type="radio"
					name="inlineRadioOptions" id="inlineRadio1" value="download">
					Download
				</label>
			</div>
			<div class="modal-footer">
				<md-button class="md-raised md-primary md-hue-2 font-style"
					style="margin: 20px 0;" aria-hidden="true"
					ng-click="onOptionClick()">{{'SUBMIT' | translate}}</md-button>
				<md-button style="margin: 20px 0; "
					class="md-warn md-raised md-hue-2 font-style"
					ng-click="closeModal()" aria-hidden="true">{{'CANCEL' |
				translate}}</md-button>
			</div>
		</div>
	</div>
</div>

<div id="addFileModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg" style="width: 90%">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title font-style">Add Files</h4>
			</div>
			<div class="modal-body">
				<div>
					<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
						ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
						ngf-drag-over-class="'dragover'">
						<div class="sm-hidden">
							<h3 class="font-style">Drag files here</h3>
							<h3 class="font-style">or</h3>
						</div>
						<p>
							<span class="btn btn-primary font-style">Select files from
								your computer</span>
						</p>
						<p ngf-no-file-drop class="font-style">File Drag/Drop is not
							supported for this browser</p>
						<p class="font-style">
							<small>Accepts files up to 5MB each</small>
						</p>

					</div>
					<div ng-if="progressvisible">
						<div class="progress" style="background-color: blue;">
							<div class="progress-bar font-style" role="progressbar"
								aria-valuenow="{{progress}}" aria-valuemin="0"
								aria-valuemax="100" style="width: {{progress">
								{{progress}}</div>
						</div>
						<hr>
						<div class="col-md-12"
							style="padding-top: 10px; overflow-y: auto; height: 150px;">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="font-style">File Name</th>
										<th class="font-style">File Type</th>
										<th class="font-style">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="file in fileList">

										<td class="font-style">{{file.fileName}}</td>
										<td class="font-style">{{file.type}}</td>
										<td class="glyphicon glyphicon-trash file-delete"
											ng-click="deleteFile($index, file.name, $event);"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="pull-right">
					<md-button class="md-raised md-primary md-hue-2 font-style"
						style="margin: 20px 0;" data-dismiss="modal" aria-hidden="true" ng-disabled="fileList.length === 0"
						ng-click="onAddFileClick()">{{'SUBMIT' | translate}}</md-button>
					<md-button style="margin: 20px 0;"
						class="md-warn md-raised md-hue-2 font-style" data-dismiss="modal"
						aria-hidden="true" ng-click="onCancelClick()">{{'CANCEL'
					| translate}}</md-button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

	</div>
</div>
