<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container profile" id="profileDiv">
		<div class="row">
			<div class="span12">
				<div class="well well-small clearfix">
					<div class="row-fluid">
						<div class="col-sm-2 span2">
							<img
								src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png"
								class="img-polaroid" />
						</div>
						<div class="col-sm-4 span4">
							<h2>{{userName}}</h2>
							<ul class="unstyled">
								<li><i class="icon-phone"></i>Role: {{role}}</li>
								<li><i class="icon-envelope"></i>Group: {{group}}</li>
							</ul>
						</div>
						<div class="col-sm-4 span6"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-12"
		style="background-color: blueviolet; bottom: 0;" id="footer">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new"
				class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
</body>
</html>