<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container profile" id="profileDiv">
		<div class="row">
			<div class="span12">
				<div class="well well-small clearfix">
					<div class="row-fluid">
						<div class="col-sm-2 span2">
							<img
								src="https://d30y9cdsu7xlg0.cloudfront.net/png/17241-200.png"
								class="img-polaroid" />
						</div>
						<div class="col-sm-4 span4">
							<h2>{{userName}}</h2>
							<ul class="unstyled">
								<li><i class="icon-phone"></i>Role: {{role}}</li>
								<li><i class="icon-envelope"></i>Group: {{group}}</li>
							</ul>
						</div>
						<div class="col-sm-4 span6"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>