<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="header" ng-cloak>
		<div class="col-sm-8">
			<div class="navigation">
				<ul>
					<li class="has-sub" ng-repeat="node in data"><a
						class="btn  btn-xs" data-nodrag
						ng-click="downloadFile('multiple');"><span
							class="glyphicon glyphicon-download-alt"></span></a>
						<ul style="overflow-x: hidden; overflow-y: scroll;">
							<li class="has-sub" ng-repeat="nodearray in node.nodes"><a
								href="javascript:void(0)" ng-click="openBookPopUp(nodearray)"><p
										class="font-style font-size16"
										style="width: 140px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
										<input type="checkbox" value="{{node.title}}" name="sport">{{nodearray.title}}
									</p></a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-2">Page loaded :
			{{rangestart}}/{{totalpages+1}}</div>
		<div class="col-sm-1 form-group">
			<input type="text" class="form-control" id="goto" ng-model="pageNo"
				placeholder="Go to.." style="height: 32px; width: 100px;">
		</div>
		<div class="col-sm-1">
			<md-button aria-label="Side Panel" ng-click="gotoPage()"
				style="margin-top: -1%; margin-left: -27%;"> <md-icon
				md-svg-src="images/forward.svg"></md-icon></md-button>
		</div>
		<div class="w3-container">
			<div class="book_wrapper" id="bookContainer">
				<a id="next_page_button" ng-click="nextButtonClick();"></a> <a
					id="prev_page_button"></a>
				<div id="loading" class="loading font-style">Loading pages...</div>
				<div id="mybook" style="display: none;">
					<div class="b-load"></div>
				</div>
			</div>
			<br />
			<nav mfb-menu position="br" effect="zoomin" active-icon="ion-close"
				resting-icon="ion-grid" toggling-method="hover" class="app-menu"
				menu-state="menuState"
				ng-class="{'fadeOut' : menuState === 'closed'}">
				<button mfb-button label="Zoom" icon="ion-ios-search"
					ng-click="showZoom()"></button>
				<button mfb-button label="Add" icon="ion-plus-round"
					ng-click="addFlieClick()"></button>
				<button mfb-button label="Update" icon="ion-ios-paper"></button>
				<button mfb-button label="Delete" icon="ion-ios-trash"
					ng-click="removeBook($event)"></button>
				<button mfb-button label="Download" icon="ion-ios-download"
					ng-click="onFileDownload()"></button>
			</nav>
		</div>
	</div>
	<div class="row col-sm-12"
		style="background-color: blueviolet; bottom: 0;" id="pageFooter">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new"
				class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
	<div id="pdfModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" style="margin-left: -58%; width: 218%;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title font-style">PDF</h4>
				</div>
				<div class="modal-body">
					<!-- <embed src="Test.pdf" type="application/pdf" height="400px"
						width="100%"> -->
					<div style="margin-top: 70px">
						<div id="myCanvas" style="position: relative"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default font-style"
						data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<div class="modal fade" id="fileModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">X</span>
					</button>
					<h4 class="modal-title font-style" id="myModalLabel">Choose
						Option</h4>
				</div>
				<div class="modal-body">
					<label class="radio-inline font-style"> <input type="radio"
						name="inlineRadioOptions" id="inlineRadio1" value="delete">
						Remove/Delete
					</label> <label class="radio-inline font-style"> <input
						type="radio" name="inlineRadioOptions" id="inlineRadio2"
						value="view"> View
					</label> <label class="radio-inline font-style"> <input
						type="radio" name="inlineRadioOptions" id="inlineRadio3"
						value="download"> Download
					</label>
				</div>
				<div class="modal-footer">
					<md-button class="md-raised md-primary md-hue-2 font-style"
						style="margin: 20px 0;" data-dismiss="modal" aria-hidden="true"
						ng-click="onOptionClick()">{{'SUBMIT' | translate}}</md-button>
					<md-button style="margin: 20px 0; "
						class="md-warn md-raised md-hue-2 font-style" data-dismiss="modal"
						aria-hidden="true">{{'CANCEL' | translate}}</md-button>
				</div>
			</div>
		</div>
	</div>
	<div id="addFileModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" style="width: 90%">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title font-style">Add Files</h4>
				</div>
				<div class="modal-body">
					<div>
						<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
							ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
							ngf-drag-over-class="'dragover'">
							<div class="sm-hidden">
								<h3 class="font-style">Drag files here</h3>
								<h3 class="font-style">or</h3>
							</div>
							<p>
								<span class="btn btn-primary font-style">Select files
									from your computer</span>
							</p>
							<p ngf-no-file-drop class="font-style">File Drag/Drop is not
								supported for this browser</p>
							<p class="font-style">
								<small>Accepts files up to 5MB each</small>
							</p>

						</div>
						<div ng-if="progressvisible">
							<div class="progress" style="background-color: blue;">
								<div class="progress-bar font-style" role="progressbar"
									aria-valuenow="{{progress}}" aria-valuemin="0"
									aria-valuemax="100" style="width: {{progress">
									{{progress}}</div>
							</div>
							<hr>
							<div class="col-md-12"
								style="padding-top: 10px; overflow-y: auto; height: 150px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="font-style">File Name</th>
											<th class="font-style">File Type</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="file in fileList">

											<td class="font-style">{{file.name}}</td>
											<td class="font-style">{{file.type}}</td>
											<td class="glyphicon glyphicon-trash file-delete"
												ng-click="deleteFile($index, file.name, $event);"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-right">
						<md-button class="md-raised md-primary md-hue-2 font-style"
							style="margin: 20px 0;" data-dismiss="modal" aria-hidden="true"
							ng-click="onAddFileClick()">{{'SUBMIT' | translate}}</md-button>
						<md-button style="margin: 20px 0;"
							class="md-warn md-raised md-hue-2 font-style"
							data-dismiss="modal" aria-hidden="true"
							ng-click="onCancelClick()">{{'CANCEL' | translate}}</md-button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<div id="fsModal" class="modal animated bounceIn" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<!-- dialog -->
		<div class="modal-dialog" style="width: 98%; height: 92%; padding: 0;">
			<div class="modal-content">
				<div class="modal-header">
					<a style="background-color: #f1f1f1; color: black;"
						class="font-style" href="javascript:void(0)"
						ng-click="previousZoom()">&laquo; Previous</a> <a
						style="background-color: #f1f1f1; color: black;"
						class="font-style" href="javascript:void(0)" ng-click="nextZoom()">Next
						&raquo;</a>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body" id="bookViewModel">
					<div id="myCarousel" class="carousel slide vertical"
						data-ride="carousel" data-interval="false">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner"></div>
						<span class="left carousel-control" data-target="#myCarousel">
							<span class="glyphicon glyphicon-chevron-left"
							style="margin-left: -64px !important;"></span>
						</span> <span class="right carousel-control" data-target="#myCarousel">
							<span class="glyphicon glyphicon-chevron-right"
							style="margin-right: -52px !important;"></span>
						</span>
					</div>
				</div>
				<!-- <div id="carousel-modal-demo" class="carousel slide"
					data-ride="carousel">
					<div class="carousel-inner"></div>
				</div> -->
			</div>
		</div>
</body>
</html>