<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="header" ng-cloak>
		<div class="w3-sidebar w3-bar-block w3-card w3-animate-left"
			style="display: none; height: 582px; overflow-y: auto;"
			id="mySidebar1">
			<div class="w3-bar"
				style="margin-left: 3%; color: #fff !important; background-color: blueviolet;">
				<button ng-click="closeSideBar()"
					class="w3-bar-item w3-button w3-right w3-padding-16"
					title="close Sidebar">X</button>
				<a class="pull-right btn  btn-xs" data-nodrag
					ng-click="downloadFile('multiple');"><span
					class="glyphicon glyphicon-download-alt"></span></a>
			</div>
			<div ui-tree id="tree-root">
				<ol ui-tree-nodes ng-model="data">
					<li ng-repeat="node in data" ui-tree-node
						ng-include="'app/modules/landing/views/noderenderer.html'"></li>
				</ol>
			</div>
		</div>
		<div id="main">
			<div class="">
				<button id="openNav" class="w3-button w3-teal w3-xlarge"
					style="background-color: #54290C !important;"
					ng-click="openSideBar()">&#9776;</button>
			</div>

			<div class="w3-container">
				<div class="book_wrapper">
					<a id="next_page_button" ng-click="nextButtonClick();"></a> <a
						id="prev_page_button"></a>
					<div id="loading" class="loading">Loading pages...</div>
					<div id="mybook" style="display: none;">
						<div class="b-load"></div>
					</div>
				</div>
				<br />
				<nav mfb-menu position="br" effect="zoomin" active-icon="ion-close"
					resting-icon="ion-grid" toggling-method="click" class="app-menu"
					menu-state="menuState"
					ng-class="{'fadeOut' : menuState === 'closed'}">
					<button mfb-button label="Add" icon="ion-plus-round"
						ng-click="addFlieClick()"></button>
					<button mfb-button label="Update" icon="ion-ios-paper"></button>
					<button mfb-button label="Delete" icon="ion-ios-trash"
						ng-click="removeBook($event)"></button>
					<button mfb-button label="Download" icon="ion-ios-download"
						ng-click="onFileDownload()"></button>
					<button mfb-button label="Zoom" icon="ion-ios-search"
						ng-click="showZoom()"></button>
				</nav>
			</div>

		</div>

	</div>
	<div class="row col-sm-12"
		style="background-color: blueviolet; bottom: 0;" id="pageFooter">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new" class="text-white">©
				Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
	<div id="pdfModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" style="margin-left: -58%; width: 218%;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">PDF</h4>
				</div>
				<div class="modal-body">
					<!-- <embed src="Test.pdf" type="application/pdf" height="400px"
						width="100%"> -->
					<div style="margin-top: 70px">
						<div id="myCanvas" style="position: relative"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<div id="addFileModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" style="width: 90%">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Files</h4>
				</div>
				<div class="modal-body">
					<div>
						<div class="dropzone" ngf-drop ngf-select ng-model="gFiles"
							ngf-pattern="'.pdf, .pptx, .docx'" ngf-multiple="true"
							ngf-drag-over-class="'dragover'">
							<div class="sm-hidden">
								<h3>Drag files here</h3>
								<h3>or</h3>
							</div>
							<p>
								<span class="btn btn-primary">Select files from your
									computer</span>
							</p>
							<p ngf-no-file-drop>File Drag/Drop is not supported for this
								browser</p>
							<p>
								<small>Accepts files up to 5MB each</small>
							</p>

						</div>
						<div ng-if="progressvisible">
							<div class="progress" style="background-color: blue;">
								<div class="progress-bar" role="progressbar"
									aria-valuenow="{{progress}}" aria-valuemin="0"
									aria-valuemax="100" style="width: {{progress">
									{{progress}}</div>
							</div>
							<hr>
							<div class="col-md-12" style="padding-top: 10px;">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>File Name</th>
											<th>File Type</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="file in fileList">

											<td>{{file.name}}</td>
											<td>{{file.type}}</td>
											<td class="glyphicon glyphicon-trash file-delete"
												ng-click="deleteFile($index, file.name, $event);"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="pull-right">
						<md-button class="md-raised md-primary md-hue-2"
							style="margin: 20px 0;" data-dismiss="modal" aria-hidden="true"
							ng-click="onAddFileClick()">{{'SUBMIT' | translate}}</md-button>
						<md-button style="margin: 20px 0;"
							class="md-warn md-raised md-hue-2" data-dismiss="modal"
							aria-hidden="true" ng-click="onCancelClick()">{{'CANCEL'
						| translate}}</md-button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<div id="fsModal" class="modal animated bounceIn" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<!-- dialog -->
		<div class="modal-dialog" style="width: 98%; height: 92%; padding: 0;">

			<!-- content -->
			<div class="modal-content">

				<!-- header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- header -->

				<!-- body -->
				<div class="modal-body" id="bookViewModel"></div>
				<div id="carousel-modal-demo" class="carousel slide"
					data-ride="carousel">



					<!-- Sliding images statring here -->
					<div class="carousel-inner"></div>
					<!-- Next / Previous controls here -->
					<a class="left carousel-control" href="javascript:void(0)"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span>
					</a> <a class="right carousel-control" href="javascript:void(0)"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span>
					</a>

				</div>
				<!-- content -->

			</div>
			<!-- dialog -->

		</div>
</body>
</html>