<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout="row" layout-xs="column">
		<div flex="20">
			<nav>
				<ul
					style="height: 400px; overflow: hidden; overflow-y: scroll; margin-left: 10%;"
					ng-repeat="node in data">
					<li ng-repeat="nodearray in node.nodes"><a
						href="javascript:void(0)" ng-click="showPdf(nodearray.title)"
						class="list-group-item list-group-item-action bg-light"
						style="margin-bottom: 0px !important">{{nodearray.title}}</a></li>

				</ul>
			</nav>
		</div>
		<div flex="80" class="blue box">
			<div layout="row" layout-xs="column">
				<div flex="80"></div>
				<div flex="20">
					<md-switch ng-model="viewSwitch" aria-label="Switch View"
						ng-change="onViewChange()"> {{ viewSwitch }} </md-switch>
				</div>
			</div>
			<div layout="row" layout-xs="column">
				<object ng-show="content" type="application/pdf"
					id="showThumbnailPdf" style="width: 98%; height: 485px;"></object>
			</div>
		</div>
	</div>
	<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>