
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
	<div class="wrapper wrapper--w790">
		<div class="card card-5">
			<div class="card-heading">
				<h2 class="title">User Registration</h2>
			</div>
			<div class="card-body">
				<div class="form-row m-b-55">
					<div class="name">Name</div>
					<div class="value">
						<div class="row rownew row-space">
							<div class="col-2">
								<div class="input-group-desc">
									<input class="input--style-5" type="text" name="firstname"
										ng-pattern="/^[a-zA-Z]*$/" ng-model="fName"
										placeholder="FirstName" required> <label
										class="label--desc">first name</label>
								</div>
							</div>
							<div class="col-2">
								<div class="input-group-desc">
									<input class="input--style-5" type="text" name="lastname"
										ng-pattern="/^[a-zA-Z]*$/" ng-model="lName" autocomplete="off"
										placeholder="LastName" required> <label
										class="label--desc">last name</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="name">Username</div>
					<div class="value">
						<div class="input-group">
							<input class="input--style-5" type="text" name="username"
								ng-model="userName" autocomplete="off" placeholder="UserName"
								required>
						</div>
					</div>
				</div>
				<div class="form-row m-b-55">
					<div class="name">Password</div>
					<div class="value">
						<div class="row rownew row-space">
							<div class="col-2">
								<div class="input-group-desc">
									<input class="input--style-5" type="password" name="pass"
										ng-model="pwdd" autocomplete="off" placeholder="Password"
										required> <label class="label--desc">Password</label>
								</div>
							</div>
							<div class="col-2">
								<div class="input-group-desc">
									<input class="input--style-5" type="password" name="rpass"
										ng-model="rpwd" autocomplete="off"
										placeholder="Retype Password" required> <label
										class="label--desc">Retype Password</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="name">Role</div>
					<div class="value">
						<div class="input-group">
							<md-input-container flex="100"> <label
								style="color: white;">Role</label> <md-select ng-model="role"
								required> <md-option ng-repeat="roles in roleArray"
								ng-value="roles.code"> {{roles.name}} </md-option> </md-select> </md-input-container>
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="name">Group</div>
					<div class="value">
						<div class="input-group">
							<md-input-container flex="100"> <label
								style="color: white;">Group</label> <md-select ng-model="group"
								required> <md-option
								ng-repeat="groups in groupArray" ng-value="groups.code">
							{{groups.name}} </md-option> </md-select> </md-input-container>
						</div>
					</div>
				</div>
				<div>
					<button class="btn btn--radius-2 btn--green" style="margin: 1%;"
						ng-click="onSignUpClick()">Sign Up</button>
					<button class="btn btn--radius-2 btn--red" style="margin: 1%;"
						ng-click="onCancelClick()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="dropDownSelect1"></div>
