<div ng-controller="HeaderController" class="header" id="pageHeader"
	ng-cloak>
	<md-toolbar style="min-height: 50px !important;">
	<div class="md-toolbar-tools" id="headerDiv"
		style="background-color: blueviolet; height: 50px !important;">
		<md-button aria-label="Side Panel" ng-click="w3_open()" tabindex="0">
		<md-icon md-svg-src="images/icons8-menu-filled.svg"
			class="md-default-theme ng-scope ng-isolate-scope material-icons"></md-icon>
		<div class="md-ripple-container"></div>
		</md-button>
		<span flex></span> <label class="font-style"
			style="position: absolute; left: 620px; width: 10%; top: 7px; bottom: 13px; color: cornsilk; font-size: 24px;">D-</label>
		<label class="font-style"
			style="position: absolute; left: 648px; top: 7px; bottom: 13px; color: red; font-size: 24px; font-style: oblique;">Vault</label>
		<md-button style="left: -169px;"> <md-icon
			md-svg-src="images/d vault.svg" aria-label="Home"
			ng-click="backtoHome()"
			style="height: 67px;width: 132px;margin-left: -79%; outline: none;"></md-icon></md-button>
		<p id="demo" style="margin: 1%; color: aliceblue; width: 80px;"></p>
		<input type="text" name="Search" ng-model="searchText" maxlength="10"
			autocomplete="off" placeholder="Search" required>
		<md-button class="md-fab md-mini" aria-label="Search"
			style="background-color: blueviolet;"
			ng-click="getMatches(searchText)"> <md-icon
			md-svg-src="images/search.svg" aria-label="Search"></md-icon> </md-button>
		<md-menu> <md-button
			class="md-fab md-mini dropdown-toggle user-bottom"
			data-toggle="dropdown" aria-label="Profile" ng-click="$mdOpenMenu()">
		<md-icon md-svg-src="images/user.svg" aria-label="User"></md-icon></md-button> <md-menu-content
			width="1"> <md-menu-item> <md-button
			ng-click="gotoProfile()"> <md-icon
			style="margin-left: 30% !important;" md-svg-src="images/profile.svg"
			aria-label="Profile"></md-icon></md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="gotoSettings()"> <md-icon
			style="margin-left: 30% !important;" md-svg-src="images/settings.svg"
			aria-label="Settings"></md-icon></md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="logout()"> <md-icon
			style="margin-left: 30% !important;" md-svg-src="images/logout.svg"
			aria-label="Logout"></md-icon></md-button> </md-menu-item> </md-menu-content> </md-menu>
	</div>
	<div class="w3-sidebar w3-light-grey w3-animate-left"
		style="display: none;" id="mySidebar">
		<div class="w3-bar w3-dark-grey"
			style="background-color: blueviolet !important; color: whitesmoke !important;">
			<span class="w3-bar-item w3-padding-16 font-style">Menu</span>
			<button ng-click="w3_close()"
				class="w3-bar-item w3-button w3-right w3-padding-16"
				title="close Sidebar">×</button>
		</div>
		<div class="w3-bar-block" style="margin-left: 5%;">
			<a class="w3-bar-item w3-button font-style" href="javascript:void(0)"
				style="color: blueviolet;" ng-click="goTOCreateBook()">Create
				Book</a> <a class="w3-bar-item w3-button font-style"
				href="javascript:void(0)" style="color: blueviolet;"
				ng-click="createClassification()">Create Classes</a>
		</div>
	</div>
</div>
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">X</span>
				</button>
				<h4 class="modal-title font-style" id="myModalLabel">Search
					Result</h4>
			</div>
			<div class="modal-body">
				<div class="row" style="margin-left: 2%;" ng-repeat="n in searchResult">
					<div
						style="font-family: monospace; color: blue; font-size: large; font-weight: bold;">Classification
						: {{n.classification}}</div>
					<div
						style="margin-left: 4%; font-family: cursive; font-style: italic;">Book
						: {{n.book}}</div>
					<div style="margin-left: 7%;">
						Files :
						<ul ng-repeat="f in n.fileList">
							<li><a href ng-click="selectedBook(n)" class="font-style"
								style="color: brown;">{{f}}</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
