<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="allBookPage">
		<div layout="row" layout-align="start start" style="padding-top: 1%;">
			<div class="row" flex="100">
				<div class="col-sm-1"></div>
				<div class="col-sm-2" style="font-size: 25px;">ALL BOOKS</div>
				<div class="input-group col-sm-8" style="margin-left: 3%;">
					<input type="text" class="form-control"
						placeholder="Search for Books" data-ng-model="searchTerm">
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="constrained col-sm-12">
			<table class="table table-striped table-condensed table-hover"
				id="loggingTable" infinite-scroll="loadMore()"
				infinite-scroll-container='".constrained"'
				infinite-scroll-distance="1" infinite-scroll-parent="true">
				<tr data-ng-show="logEventFilter.length === 0">
					<td class="center" colspan="3">No data to be shown</td>
				</tr>
				<thead style="background-color: lightgrey !important;">
					<tr>
						<th class="no font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">NO</th>
						<th class="classification font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">BOOK
							NAME</th>
						<th class="count font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">CLASSIFICATION</th>
						<th class="Add font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">USER</th>
						<th class="Add font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">DATE
							& TIME</th>
						<th class="Add font-style"
							style="position: sticky; top: 0; background-color: #FFF !important; border: 1px solid #D9E4E6; color: #747a80;">VIEW</th>
					</tr>
				</thead>
				<tr
					data-ng-repeat="logEvent in logEventFilter = (bookList | filter:searchTerm | limitTo:numberToDisplay) track by $index"
					style="color: #024457; border: 1px solid #D9E4E6;">
					<td style="border: 1px solid #D9E4E6; padding: 10px;">{{$index
						+ 1}}</td>
					<td style="border: 1px solid #D9E4E6; padding: 10px;">{{logEvent.bookname}}</td>
					<td style="border: 1px solid #D9E4E6; padding: 10px;">{{logEvent.classification}}</td>
					<td style="border: 1px solid #D9E4E6; padding: 10px;">{{logEvent.username}}</td>
					<td style="border: 1px solid #D9E4E6; padding: 10px;">{{logEvent.date}}</td>
					<td style="border: 1px solid #D9E4E6; padding: 10px;">
						<button ng-click="bookView(logEvent)">
							<i class="fa fa-eye"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>