<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="allBookPage">
		<div layout="row" layout-align="start start">
			<div flex="100">
				<span class="md-title font-style"
					style="font-size: 25px; color: blue; margin: 3%;">Books</span>
				<div class="input-group" style="margin-left: 3%;">
					<input type="text" class="form-control" placeholder="Search term"
						data-ng-model="searchTerm">
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
		<div class="constrained col-sm-8">
			<table class="table table-striped table-condensed table-hover"
				id="loggingTable" infinite-scroll="loadMore()"
				infinite-scroll-container='".constrained"'
				infinite-scroll-distance="1" infinite-scroll-parent="true">
				<tr data-ng-show="logEventFilter.length === 0">
					<td class="center" colspan="3">No data to be shown</td>
				</tr>
				<thead style="background-color: lightgrey !important;">
					<tr>
						<th class="no font-style" style="text-align: center;">No.</th>
						<th class="classification font-style" style="text-align: center;">Book
							Name</th>
						<th class="count font-style" style="text-align: center;">Classification</th>
						<th class="Add font-style" style="text-align: center;">User</th>
						<th class="Add font-style" style="text-align: center;">Date &
							Time</th>
						<th class="Add font-style" style="text-align: center;">View</th>
					</tr>
				</thead>
				<tr
					data-ng-repeat="logEvent in logEventFilter = (bookList | filter:searchTerm | limitTo:numberToDisplay) track by $index"
					style="text-align: center;">
					<td>{{$index + 1}}</td>
					<td>{{logEvent.bookName}}</td>
					<td>{{logEvent.classification}}</td>
					<td>{{logEvent.userName}}</td>
					<td>{{logEvent.date}}</td>
					<td>
						<button ng-click="bookView(logEvent)">
							<i class="fa fa-eye"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row col-sm-12"
		style="background-color: blueviolet; bottom: 0;" id="footer">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new"
				class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
</body>
</html>