<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout="row" layout-align="start start">
		<div flex="100">
			<md-card> <md-card-header> <md-card-header-text>
			<span class="md-title" style="font-size: 25px; color: blue;"><md-icon
					md-svg-src="images/class.svg" aria-label="Classifications"></md-icon>Classifications</span>
			<span class="md-subhead">Total Count : {{count}} </span> </md-card-header-text> </md-card-header> </md-card>
		</div>
	</div>
	<div layout="row" layout-align="space-around center">
		<div flex="20" ng-repeat="x in records">
			<md-card> <md-card-header> <md-card-header-text>
			<span class="md-title">{{x.classification}}</span> <span
				class="md-subhead">Book Count : {{x.count}} </span> </md-card-header-text> </md-card-header> <md-card-actions
				layout="row" layout-align="start center"> <md-divider></md-divider>
			<md-button md-no-ink class="md-primary"
				ng-click="shelfView(x.classification)"> <md-icon
				md-svg-src="images/visibility.svg" aria-label="View Document"></md-icon></md-button>
			<md-button class="md-warn" ng-click="createBooks(x.classification)">
			<i class="fa fa-plus"></i></md-button> <md-card-icon-actions>
			</md-card-icon-actions> </md-card-actions></md-card>
		</div>
	</div>
</body>
</html>