<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div id="allCommentPage">
		<div class="row bootstrap snippets">
			<div class="col-md-6 col-md-offset-3 col-sm-12">
				<div class="comment-wrapper">
					<div class="panel panel-info">
						<div class="panel-heading">Comment panel</div>
						<div class="panel-body conver">
							<ul class="media-list" style="overflow-x: auto; height: 250px;">
								<li class="media" ng-repeat="x in comments"
									ng-style="loggeduser === x.userName && {'background':'#e1ffc7','color': '#000', 'border-radius': '5px 0px 5px 5px', 'padding' : '8px !important', 'font-size' : '15px', 'text-shadow': '0 1px 1px rgba(0, 0, 0, .2)'} || loggeduser !== x.userName && {'background':'#ffffff', 'color': '#000', 'border-radius': '0px 5px 5px 5px', 'padding' : '8px !important', 'font-size' : '15px', 'text-shadow': '0 1px 1px rgba(0, 0, 0, .2)'}">
									<div class="media-body">
										<span class="text-muted pull-right"> <small
											class="text-muted pull-right"
											style="color: rgba(0, 0, 0, .45); font-size: 11px; display: inline-block;">{{x.dateTime}}</small>
										</span> <strong class="text-success"
											ng-style="loggeduser === x.userName && {'color': 'black'} || loggeduser !== x.userName && {'color': 'blue'}">@{{x.userName}}</strong>
										<p style="word-break: break-all;" ng-style="loggeduser === x.userName && {'color': 'black'} || loggeduser !== x.userName && {'color': 'blue'}">{{x.message}}</p>
									</div>
								</li>
							</ul>
							<hr>
							<div class="clearfix"></div>
							<textarea class="form-control" placeholder="write a comment..."
								rows="3" ng-model="myTextarea"></textarea>
							<br>
							<button type="button" class="btn btn-info pull-right"
								ng-click="addComment(myTextarea)"><i class="fa fa-paper-plane"></i></button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="row col-sm-12"
		style="background-color: #00239CFF; bottom: 0;" id="footer">
		<div class="col-sm-3">
			<a href="http://tranfode.com/" target="_new"><img
				src="images/tranfode.png"></a>
		</div>
		<div class="col-sm-9"
			style="text-align: right !important; margin-top: 2%;">
			<a href="http://tranfode.com/" target="_new"
				class="text-white font-style">© Tranfode Technologies (P) Ltd.</a>
		</div>
	</div>
</body>
</html>