<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container-fluid">
		<div class="col-sm-12" style="margin-left: 2%;">
			<h4 class="font-style"
				style="font-size: 21px !important; font-weight: 400; line-height: 1; padding: 0;">Vault
				Overview</h4>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<div class="square-card"
					style="border-color: #7266bb !important; background-color: #7266bb !important;">
					<div class="card-body">
						<div class="mb-4">
							<h5 class="card-title mb-0 text-white"
								style="font-family: sans-serif; margin-left: 5%; margin-top: 7%;">
								<i class="fa fa-file-text" style="font-size: 3em;"></i> Books!
							</h5>
						</div>
						<div class="row d-flex align-items-center mb-4">
							<div class="col-sm-8">
								<h2 class="d-flex align-items-center mb-0 text-white">{{docCount}}</h2>
							</div>
							<div class="col-sm-4 text-right">
								<a href="javascript:void(0)" ng-click="gotoBooks()"
									style="cursor: pointer;"> <span class="text-white"
									style="font-family: unset; font-size: .8125rem; font-weight: 400; line-height: 1.5;">View
										Details <i class="fa fa-arrow-circle-right"></i>
								</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="square-card"
					style="border-color: #2ac14e !important; background-color: #2ac14e !important;">
					<div class="card-body">
						<div class="mb-4">
							<h5 class="card-title mb-0 text-white"
								style="font-family: sans-serif; margin-left: 5%; margin-top: 7%;">
								<i class="fa fa-list" style="font-size: 3em;"></i>
								Classifications!
							</h5>
						</div>
						<div class="row d-flex align-items-center mb-4">
							<div class="col-sm-8">
								<h2 class="d-flex align-items-center mb-0 text-white">{{classCount}}</h2>
							</div>
							<div class="col-sm-4 text-right">
								<a href="javascript:void(0)" ng-click="gotoClassification()"
									style="cursor: pointer;"> <span class="text-white"
									style="font-family: unset; font-size: .8125rem; font-weight: 400; line-height: 1.5;">View
										Details <i class="fa fa-arrow-circle-right"></i>
								</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="square-card"
					style="border-color: #f8ac5a !important; background-color: #f8ac5a !important;">
					<div class="card-body">
						<div class="mb-4">
							<h5 class="card-title mb-0 text-white"
								style="font-family: sans-serif; margin-left: 5%; margin-top: 7%;">
								<i class="fa fa-comment" style="font-size: 3em;"></i> New
								Comments!
							</h5>
						</div>
						<div class="row d-flex align-items-center mb-4">
							<div class="col-sm-8">
								<h2 class="d-flex align-items-center mb-0 text-white">{{commentListCount}}</h2>
							</div>
							<div class="col-sm-4 text-right">
								<a href="javascript:void(0)" ng-click="gotoComments()"
									style="cursor: pointer;"> <span class="text-white"
									style="font-family: unset; font-size: .8125rem; font-weight: 400; line-height: 1.5;">View
										Details <i class="fa fa-arrow-circle-right"></i>
								</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-12">
				<div class="square-card"
					style="border-color: #23b5e2 !important; background-color: #23b5e2 !important;">
					<div class="card-body">
						<div class="mb-4">
							<h5 class="card-title mb-0 text-white"
								style="font-family: sans-serif; margin-left: 5%; margin-top: 7%;">
								<i class="fa fa-user" style="font-size: 3em;"></i> Total Users!
							</h5>
						</div>
						<div class="row d-flex align-items-center mb-4">
							<div class="col-sm-8">
								<h2 class="d-flex align-items-center mb-0 text-white">{{activeUsers}}</h2>
							</div>
							<div class="col-sm-4 text-right">
								<a href="javascript:void(0)" ng-click="gotoUsers()"
									style="cursor: pointer;"> <span class="text-white"
									style="font-family: unset; font-size: .8125rem; font-weight: 400; line-height: 1.5;">View
										Details <i class="fa fa-arrow-circle-right"></i>
								</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;">
			<div class="col-sm-8 grid-margin">
				<md-card style="margin-top: 0%;">
				<div class="card" style="height: 450px;">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<h4 class="card-title"
									style="font-family: unset; font-weight: 400;">Document
									Classes</h4>
							</div>
							<div class="col-sm-12 col-md-6">
								<div class="pull-right">
									<input type="text" ng-model="query" ng-change="search()"
										class="search form-control"
										style="box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; font-size: 16px; background-color: white; background-image: url(images/search.png); background-position: 10px; background-repeat: no-repeat; padding: 12px 20px 12px 40px; -webkit-transition: width 0.4s ease-in-out; transition: width 0.4s ease-in-out;">
								</div>
							</div>
						</div>
						<table class="table table-striped table-condensed table-hover"
							style="margin-top: 1%;">
							<thead class="font-style"
								style="color: #747a80; font-size: .8125rem; font-weight: 400; line-height: 1.5;">
								<tr>
									<th class="no font-style">Sl&nbsp;</th>
									<th class="classification font-style">Classification&nbsp;</th>
									<th class="count font-style">Book Count&nbsp;</th>
									<th class="Add font-style">Add</th>
								</tr>
							</thead>
							<tfoot>
								<td colspan="6">
									<div class="pagination pull-right">
										<ul>
											<li ng-class="{disabled: currentPage == 0}"><a href
												ng-click="prevPage()" class="font-style"><< Prev</a></li>
											<li ng-repeat="n in range(pagedItems.length)"
												class="font-style" ng-class="{active: n == currentPage}"
												ng-click="setPage()" class="font-style"><a href
												ng-bind="n + 1">1</a></li>
											<li
												ng-class="{disabled: currentPage == pagedItems.length - 1}">
												<a href ng-click="nextPage()" class="font-style">Next >></a>
											</li>
										</ul>
									</div>
								</td>
							</tfoot>
							<tbody>
								<tr
									ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
									<th scope="row"><a href="javascript:void(0)"
										style="color: #747a80;"
										ng-click="shelfView(item.classification)" class="font-style">{{item.no}}</a></th>
									<td><a href="javascript:void(0)" style="color: #747a80;"
										ng-click="shelfView(item.classification)" class="font-style">{{item.classification}}</a></td>
									<td><a href="javascript:void(0)" style="color: #747a80;"
										ng-click="shelfView(item.classification)" class="font-style">{{item.count}}</a></td>
									<td><div class="circle-plus" style="cursor: pointer;"
											ng-click="createBooks(item.classification)">
											<div class="circle">
												<div class="horizontal"></div>
												<div class="vertical"></div>
											</div>
										</div></td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>
				</md-card>
			</div>
			<div class="col-sm-4 card"
				style="margin-top: 0%; margin-left: -1%; height: 450px;">
				<h4 style="font-family: unset; font-weight: 400;">Active
					Documents</h4>
				<div id="bar-example"></div>
				<!-- <canvas id="chart-area" width="300 !important"
					height="300 !important"></canvas> -->
			</div>
		</div>
		<div class="minmaxCon" ng-if="minimizeModal"
			style="background-color: gainsboro; width: 15%;">
			Search Results
			<button type="button" class="close" ng-click="closePopup()">
				<i class="fa fa-times"></i>
			</button>
			<button class="close modalMinimize" ng-click="maximizemodal()">
				<i class="fa fa-clone"></i>
			</button>
		</div>
	</div>
	<div class="row col-sm-12"
		style="right: 0; color: #6c757d; left: 0px; background-color: #fff; bottom: 0; border-top: 1px solid #dee2e6; bottom: 0; padding: 19px 12px 20px;">
		<div class="row">
			<div class="col-sm-5"
				style="margin-left: 2%; font-family: sans-serif; font-size: small; font-weight: 400;">
				2019 © Tranfode Technologies (P) Ltd.</div>
			<div class="col-sm-1"></div>
			<div class="col-sm-6">
				<div class="pull-right"
					style="font-family: sans-serif; font-weight: 400; font-size: smaller;">Design
					&amp; Develop Tranfode</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>
</body>
</html>
